<html>
<body>
<div class="container">
<div style="background-color: #A0522D">
<h3 style="color:#FFE4C4" class="mt-5 text-center"><i style="color: red;" class="fas fa-cocktail mt-2 fa-2x"></i>Editar Bebida</h3>
<%= render "form"%>
</div>
</div>

</html>
</body>