<html>
<body style="background: #FFE4C4">
<h3 style="color:#000000" class="mt-5 text-center"><i style="color: red;" class="fas fa-cocktail fa-2x"></i>Cadastrar Bebida</h3>
<div class="container">
<div class="row">
<%= render "form"%>
</div>
</div>
</html>
</body>