<%= stylesheet_link_tag "horario" %>

<div  id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div style="height: 650px;" class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.multireceitas.com.br/wp-content/uploads/2018/09/hamburguer-de-frango.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div class="horario">
    <div class="container mb-5 mt-5">
      <div class="titulo">
        
        <h2 class="text-center"><i class="far fa-clock	"></i>Horário de Funcionamento</h2>
      </div>
      <table class="table table-borderless text-center table-striped">
        <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Horario - Dia</th>
            <th scope="col">Horario - Noite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Segunda-Feira</td>
            <td>7:30 às 11:30</td>
            <td>19:00 - 23:30</td>
          </tr>
          <tr>
            <td scope="row">Terça-Feira</td>
            <td>7:30 às 11:30</td>
            <td>19:00 - 23:30</td>
          </tr>
          <tr>
            <td scope="row">Quarta-Feira</td>
            <td>7:30 às 11:30</td>
            <td>19:00 - 23:30</td>
          </tr>
          <tr>
            <td scope="row">Quinta-Feira</td>
            <td>7:30 às 11:30</td>
            <td>19:00 - 23:30</td>
          </tr>
          <tr>
            <td scope="row">Sexta-Feira</td>
            <td>7:30 às 11:30</td>
            <td>19:00 - 23:30</td>
          </tr>
          <tr>
            <td scope="row">Sabádo</td>
            <td>8:30 às 11:30</td>
            <td>19:00 - 00:30</td>
          </tr>
          <tr>
            <td scope="row">Domingo</td>
            <td>8:30 às 11:30</td>
            <td>19:00 - 00:30</td>
          </tr>
          <tr>
            <td scope="row">Feriados</td>
            <td>8:30 às 11:30</td>
            <td>19:00 - 00:30</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<section>
        <div class="container-fluid mb-5" style="background-color: #F5DEB3;" >
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="mt-4 mb-1">Formas de Pagamento</h2>
              </div>
              <div class="col-lg-4 text-center mb-5">
                <i class="far fa-address-card fa-3x mt-5"></i>
                <h5 class="mt-2">Pix</h5>
              </div>
              <div class="col-lg-4 text-center mb-5">
                <i class="far fa-money-bill-alt fa-3x mt-5"></i>
                <h5 class="mt-2">Dinheiro</h5>
              </div>
              <div class="col-lg-4 text-center mb-5">
                <i class="far fa-address-card fa-3x mt-5 mb-3"></i>
                <h5 class="mt-2">Cartões</h5>
              </div>
              
            </div>
          </div>
        </div>
        </div>
      </section>

      
<div class="container-fluid mt-5 mb-1 mt-3 p-0" style="background-color: #F5DEB3;">
 <div class="row">
    <div class="col-12 text-center">
        <h2 class="mt-4 mb-3">Faça o seu pedido!</h2>
      </div>
  </div>            
 <img src="https://img.elo7.com.br/product/original/35CBDFC/painel-adesivo-parede-lanche-delicioso-com-refrigerante-hd-painel-adesivo-lanche-hamburguer.jpg" class="d-block w-100" alt="...">
</div>


