<h3 style="color:#000000" class="mt-5 text-center"><i style="color: #F4A460" class="fas fa-hamburger fa-2x"></i>Editar Lanche</h3>

<div class="container">
<div class="row">
<%= render "form"%>
</div>
</div>