<html>
<body>
<div class="container">
<div style="background-color: #A0522D">
<h3 style="color:#FFE4C4" class="mt-5 text-center"><i style="color: #FFE4C4" class="fas fa-hamburger fa-2x"></i> Alterar Pedido</h3>
<%= render "form"%>
</div>
</div>

</html>
</body>