<html>
<body style="background-color: #FFE4C4">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mt-5">Cárdapio</h3>
        </div>
        <div class="col-md-3">
            <div class="text-center p-o">
                <div class="card border-0" style="width: 18rem;">
                    <img  src="https://offloadmedia.feverup.com/saopaulosecreto.com/wp-content/uploads/2021/01/08043605/pexels-caleb-oquendo-3023479-1024x683.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: #BC8F8F;">
                        <h5 class="card-title text-white">Hot Dog</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-3">
            <div class="text-center p-o">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://static5.depositphotos.com/1000647/467/i/600/depositphotos_4674723-stock-photo-tasty-and-appetizing-hamburger-on.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title text-white">Big Burguer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
         <div class="col-md-3">
            <div class="text-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://p4.wallpaperbetter.com/wallpaper/209/721/107/food-burger-wallpaper-preview.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://img.freepik.com/vetores-gratis/hamburguer-realista-no-fundo-do-quadro_79603-1042.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>

        <div class="col-md-3">
            <div class="text-center p-o">
                <div class="card border-0" style="width: 18rem;">
                    <img  src="https://images8.alphacoders.com/457/457153.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: #BC8F8F;">
                        <h5 class="card-title text-white">Sucos</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-3">
            <div class="text-center p-o">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://images5.alphacoders.com/293/293049.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title text-white">Cervejas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
         <div class="col-md-3">
            <div class="text-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://images5.alphacoders.com/406/thumb-1920-406996.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title">Refrigerantes</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-3 mb-5">
            <div class="text-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="https://images6.alphacoders.com/304/thumb-1920-304536.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-white" style="background-color: #BC8F8F;">
                        <h5 class="card-title">Drinks</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
</html>
</body>
